/* SIDEBAR */
.search-input {
  background-color: #212529;
  color: gray;
}

.search-input::placeholder {
  color: gray;
}

.search-input:focus {
  color: lightgray;
  box-shadow: none;
}

.form-control.search-input:hover {
  background-color: #343434;
}

/* HOME */
/* navbar */
.navbar {
  background-color: #2a2a2a;
}

/* radio card */
.radio-card {
  border-radius: 25;
}

.radio-card h3 {
  min-height: 80px;
}

.radio-card:hover {
  cursor: pointer;
  background-color: #2a2a2a;

  padding: 0.75rem;
  border-radius: 12px;
  transition: 0.2s;
}

/* song card */
.song-card:hover {
  cursor: pointer;
  background-color: #2a2a2a;

  padding: 0.75rem;
  border-radius: 12px;
  transition: 0.2s;
}

html,
body,
#root {
  height: 100%;
}

/* altro da esplorare */
.explore-card {
  background-color: #2a2a2a;
  border-radius: 12px;
  padding: 0.5em;
  cursor: pointer;
}

.explore-card:hover {
  background-color: #343434;
}

/* footer */
footer {
  background-color: #343434;
}

/* player */
.player-bar {
  height: 90px;
  background-color: #2a2a2a;
}
