/* SIDEBAR */
.search-input {
  color: gray;
}

.search-input::placeholder {
  color: gray;
}

.search-input:focus {
  background-color: #212529;
  color: lightgray;
  box-shadow: none;
}

/* HOME */
/* radio card */
.radio-card h3 {
  min-height: 80px;
}

html,
body,
#root {
  height: 100%;
}

/* altro da esplorare */
.explore-card {
  background-color: #2a2a2a;
  border-radius: 12px;
  padding: 0.5em;
  cursor: pointer;
}

.explore-card:hover {
  background-color: #343434;
}

/* footer */
footer {
    background-color: #343434;
}