/* SIDEBAR */
.search-input {
  color: gray;
}

.search-input::placeholder {
  color: gray;
}

.search-input:focus {
  background-color: #212529;
  color: lightgray;
  box-shadow: none;
}

/* HOME */
/* radio card */
/* .radio-card h3 {
  min-height: 100px;
} */
